@charset "utf-8";

@import url("styles/main.css");

@media print{
    header {
        display: none;
    }
    body {
        background-color: white !important;
        color: black !important;
    }
    td, tr, th{
        width: 600px;
        border: 1px solid black;
        padding: 3px;
    }
}

@media screen{
    body {
        background-image: url(../img/tokyo.jpg);
        background-color: rgb(32, 32, 32);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: left top;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    header{
        height: 150px;
        background-color: rgba(0, 0, 0, 50%);
    }

    nav{
        margin-top: 0%;
        margin-bottom: 0%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 120px;
        width: 600px;
    }

    nav > ul {
        list-style: none;
        margin: 0;
        background-color: rgb(118, 112, 126);
        height: 30px;
        overflow: auto;
    }

    nav > ul:hover{
        background-color: white;
    }

    nav li {
        float: left;
        height: 20px;
        padding: 2px;
        margin-right: 10px;
        background-color: goldenrod;
        padding: 3px;
    }

    .menu a{
        text-decoration: none;
        background-color: white;
    }

    .menu:hover {
        background-color: silver;
    }

    .menu a:hover {
        background-color: goldenrod;
    }

    h1, h2{
        color:silver !important;
        text-shadow: 3px 3px goldenrod;
    }

    h1 {
        font-size: 50px; 
        text-transform: uppercase;
    }

    h2 {
        font-size: 40px;
    }

    p {
        color: goldenrod !important;
        font-size: large;
    }

    article {
        padding: 20px;
    }

    #flight-statuses {
        width: 600px;
        border: 1px solid black;
        border-collapse: collapse;
        margin: auto;
    }

    tr {
        height: 40px;

    }

    tr:nth-child(odd) {
        background-color: white;
    }

    tr:nth-child(even) {
        background-color: lightgray;
    }

    th {
        background-color: goldenrod;
        color: rgb(32, 32, 32);
    }

    td {
        padding-left: 10px;
        padding-right: 10px;
    }

    #flight-statuses tr:hover {
        background-color: rgb(0, 255, 255);
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .cancelled {
        color: red;
        font-weight: bold;
    }

    .departed {
        color: green;
    }

    .departed::after {
        content: '\2708';
    }

    footer {
        text-align: right;
    }
}
