table {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 10px;
}

table, th, td {
    border: 1px solid black;
}

td {                                                                        
    padding-left: 10px;                                                     
    padding-right: 10px;                                                    
}

li {
    padding:5px;
}

form {
    padding: 20px;
}

em {
    font-size: 15px;
}

p {
    padding-left: 20px;
}
