table {
    width: 100%;
}

tr {                                                                        
    height: 40px;                                                           
}                                                                           

tr:nth-child(odd) {                                                         
    background-color: white;                                                
}                                                                           
                                                                                
tr:nth-child(even) {                                                        
    background-color: lightgray;                                            
}                                                                           
                                                                                
th {                                                                        
    background-color: skyblue;                                            
    color: rgb(32, 32, 32);                                                 
}                                                                           
                                                                                
td {                                                                        
    padding-left: 10px;                                                     
    padding-right: 10px;                                                    
}
