#quantity {
    width: 50px;
}

#cart {
    border: 1px solid;
    padding: 10px;
    background-color: yellow;
    width: 30%;
}

label {
    margin-left: 20px;
}

#submit {
    margin-left: 20px;
}

#logout {
    margin-top: 15px;
}

table {
    margin-top: 15px;
    width: 31.1%;
    border-collapse: collapse;
    border-spacing: 10px;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

