body {
	box-sizing: border-box;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: bold;
	background-color: yellowgreen;
}
h1 {
	font-size: 50px;
}
form {
	background-color: #ffff80;
	border: 2px solid black;
	margin: auto;
	padding: 20px;
	width: 500px;
}
label {
	width: 100px;
	height: 70px;
	flex: 1;
	display: inline-block;
	text-align: right;
}
input, select {
	border: 1px solid black;
	margin: 5px;
	padding: 2px;
	width: 200px;
}
input[type="submit"] {
	margin-left: 120px;
}
