body {
	box-sizeing: border-box;
}
form {
	border: 1px solid black;
	margin: auto;
	padding: 20px;
	width: 420px;
}
label {
	display: inline-block;
	width: 100px;
}
input, select {
		border: 1px solid black;
		margin: 5px;
		padding: 2px;
		width: 200px;
}
input: focus, select:focus {
		background-color: orange;
		border: 1px solid blue;
}

